/* 
----- Color Scheme - MIX -----
- hot pink: d41c8e
- mint green: bdeacd
- dull purple: 4b5185
- lime green: dcff25
- violet: 240073
--------- End ---------
*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html {
  background-color: #f8f8f8;
  color: #240073;
  text-align: center;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  color: #d41c8e;
}

.header {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.smaller {
  font-size: 0.9em;
}

/* ----- Nav Bar guidelines ----- */
nav {
  /* padding: 40px 20px; */
  background-color: #240073;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  /* border-bottom: 4px solid #22ABDF; */
}
.nav-link-container {
  height: 100%;
  padding: 40px 20px;
  border-bottom: 4px solid #240073;
}
.nav-link-container:hover {
  border-bottom: 4px solid #dcff25;
  transition: 0.5s;
}
nav a {
  text-transform: uppercase;
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 0.1em;
  margin: 1em;
}
nav a:hover { 
  color: #bdeacd;
  transition: 0.2s;
}

/* ----- Link guidelines ----- */
a {
  color: #d41c8e;
}
a:hover {
  color: #dcff25;
}

/* ----- Submit/Button guidelines ----- */
button,
input[type="submit"] {
  font-family: "Noto Sans", sans-serif;
  background-color: #4b5185;
  /* background-color: #bdeacd; */
  /* color: #111; */
  color: #dcff25;
  width: 40%;
  height: 100%;
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.2);
  box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.2);

}

button:hover,
input[type="submit"]:hover {
    /* color: #dcff25;
    background-color: #4b5185; */
    background-color: #bdeacd;
    color: #111;
    transition: 0.5s;
}

/* ---------- Media Queries ---------- */

@media all and (max-width: 650px) {
  button, input[type="submit"] {
    font-size: 0.8em;
  }
}

@media all and (max-width: 450px) {
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
  }
  nav a {
    font-size: 0.8em;
  }
  nav a:hover {
    border-bottom: 4px solid #dcff25;
  }
  .nav-link-container:hover {
    border: none;
    transition: 0.5s;
  }
}