/* 
----- Color Scheme -----
- Hot Pink: DC127E or 220,18,126
- Yellow: fcff2f or rgb(252, 255, 47)
- Turquoise: 22ABDF or 34,171,223
- Light Blue: E5EFF8 or 229,239,248
- Sand: F8E8C6 or 248,232,198
--------- End ---------
*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html {
  background-color: #f8f8f8;
  color: #111;
  text-align: center;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4 {
  color: #DC127E;
}

/* ----- Nav Bar guidelines ----- */
nav {
  /* padding: 40px 20px; */
  background-color: #22ABDF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  /* border-bottom: 4px solid #22ABDF; */
}
.nav-link-container {
  height: 100%;
  padding: 40px 20px;
  border-bottom: 4px solid #22ABDF;
}
.nav-link-container:hover {
  border-bottom: 4px solid #DC127E;
  color: rgb(252, 255, 47);
  transition: 0.5s;
}
nav a {
  text-transform: uppercase;
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 0.1em;
  margin: 1em;
}
nav a:hover { 
  color: rgb(252, 255, 47);
  /* border-bottom: 2px solid #DC127E; */
  transition: 0.2s;
}

/* ----- Link guidelines ----- */
a {
  color: #DC127E;
}
a:hover {
  color: rgb(252, 255, 47)
}

/* ----- Submit/Button guidelines ----- */
button,
input[type="submit"] {
  font-family: "Noto Sans", sans-serif;
  background-color: #22ABDF;
  width: 40%;
  height: 100%;
  color: whitesmoke;
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.2);
  box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.2);

}

button:hover,
input[type="submit"]:hover {
    color: #DC127E;
    background-color: whitesmoke;
    transition: 0.5s;
}
