/* 
----- Color Scheme -----
- Hot Pink: DC127E or 220,18,126
- Yellow: fcff2f or 255,255,47
- Turquoise: 22ABDF or 34,171,223
- Light Blue: E5EFF8 or 229,239,248
- Sand: F8E8C6 or 248,232,198
--------- End ---------
*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.login-container {
  padding: 50px;
  width: 40%;
  margin: 40px auto;
  background-color: white;
}
.login-username,
.login-password,
.login-submit {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  width: 70%;
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid #E5EFF8;
}

.login-username:hover,
.login-password:hover {
  background-color: #E5EFF8;
  transition: 0.5s;
}

.login-submit {
  background-color: #22ABDF;
  width: 50%;
  color: whitesmoke;
}
.login-submit:hover {
  color: #DC127E;
  background-color: whitesmoke;
  transition: 0.5s;
}