/* 
----- Color Scheme - MIX -----
- hot pink: d41c8e
- mint green: bdeacd
- dull purple: 4b5185
- lime green: dcff25
- violet: 240073
--------- End ---------
*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.login-container {
  width: 40%;
  padding: 50px;
  margin: 30px auto;
  background-color: #f8f8f8;
  -webkit-box-shadow: 5px 5px 24px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 5px 24px 1px rgba(0,0,0,0.3);
  box-shadow: 5px 5px 24px 1px rgba(0,0,0,0.3);

}

.login-username,
.login-password,
.login-submit {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  width: 70%;
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid #E5EFF8;
}

.login-username:hover,
.login-password:hover {
  background-color: #E5EFF8;
  transition: 0.5s;
}


/* ---------- Media Queries ---------- */
@media all and (max-width: 600px) {
  .login-container {
    width: 100%;
    margin: 20px auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
  }

  .login-form {
    width: 100%;
  }

  .login-username,
  .login-password,
  .login-submit {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #E5EFF8;
  }
}