/* 
----- Color Scheme -----
- Hot Pink: DC127E or 220,18,126
- Yellow: EDEF2C or 237,239,44
- Turquoise: 22ABDF or 34,171,223
- Light Blue: E5EFF8 or 229,239,248
- Sand: F8E8C6 or 248,232,198
--------- End ---------
*/

.org-feed-ping-container {
  width: 95%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  overflow: flex-wrap;
  justify-content: center;
  margin: 0 auto;
}

.each-ping {
  background-color: #e5eff8;
  padding: 15px;
  width: 28%;
  /* height: 300px; */
  overflow: scroll;
  margin: 10px;
}

.org-feed-accepted-pings,
.org-feed-pending-pings {
  width: 95%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* button */
.accept-ping {
  width: 65%;
  height: 20%;
  font-size: 0.8em;
}

/* ---------- Media Queries ---------- */

@media all and (max-width: 450px) {
  .org-feed-ping-container {
    width: 100%;
    
  }

  .org-feed-accepted-pings,
  .org-feed-pending-pings {
    flex-direction: column;
    width: 95%;
    padding: 0;
  }

  .each-ping {
    width: 90%;
    padding: 10px;
  }
}