/* 
----- Color Scheme - MIX -----
- hot pink: d41c8e
- mint green: bdeacd
- dull purple: 4b5185
- lime green: dcff25
- violet: 240073
--------- End ---------
*/

.org-feed-parent {
  width: 90%;
  margin: 0 auto;
}

.org-feed-ping-container {
  width: 95%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  overflow: flex-wrap;
  justify-content: center;
  margin: 0 auto;
}

.each-ping {
  padding: 15px;
  width: 28%;
  overflow: scroll;
  margin: 10px;
}

.org-feed-accepted-pings,
.org-feed-pending-pings {
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* button */
.accept-decline-ping {
  width: 35%;
  height: 30%;
}

/* ---------- Tabs ---------- */
.tabs {
  width: 100%;
  margin: 40px auto;
  padding: 0;
}
.tab-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  color: #bdeacd;
  border-bottom: 1px solid #dcff25;
}
.single-tab {
  width: 50%;
  list-style-type: none;
  padding: 20px 0;
  border-radius: 20px 20px 0 0;
  color: #f8f8f8;
  background-color: #4b5185;
}
.single-tab:hover {
  color: #dcff25;
  transition: 0.5s;
  cursor: pointer;
  background-color: #4b5185b4;
}
.react-tabs__tab--selected {
  color: #bdeacd;
  background-color: #240073;
}

/* ---------- Media Queries ---------- */

@media all and (max-width: 450px) {
  .org-feed-ping-container {
    width: 100%;
    
  }

  .org-feed-accepted-pings,
  .org-feed-pending-pings {
    flex-direction: column;
    width: 95%;
    padding: 0;
  }

  .each-ping {
    width: 90%;
    padding: 10px;
  }
}