/* 
----- Color Scheme - MIX -----
- hot pink: d41c8e
- mint green: bdeacd
- dull purple: 4b5185
- lime green: dcff25
- violet: 240073
--------- End ---------
*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.create-new-header {
    text-transform: uppercase;
    width: 100%;
    border-bottom: 1px solid #dcff25;
    letter-spacing: 0.1em;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.reg-main {
    background: url(https://i.imgur.com/fVTT69b.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    height: 90vh;
    padding: 0;
     margin: 0;
     display: flex;
     align-items: center;
}

.reg-parent-container {
    width: 40%;
    padding: 50px;
    margin: 40px auto;
    background-color: #f8f8f8;
    -webkit-box-shadow: 5px 5px 24px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 24px 1px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 24px 1px rgba(0,0,0,0.3);
    overflow: scroll;
    height: 70vh;
}

.reg-div {
    display: flex;
    flex-direction: column;
    /* width: 60%; */
    justify-content: center;
    margin: 0 auto;
}

.reg-input-divs {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;    
    width: 80%;
    padding: 10px; 
    margin: 10px auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f8f8f8;
}
.reg-input-divs:hover {
    /* background-color: #f2f2f2; */
    border-bottom: 1px solid #bdeacd;
    transition: 0.5s;
}

.choose-user-type-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reg-header {
    padding: 5px 0;
    background-color: #f2f2f2;
    margin-top: 5px;
    color: #d41c8e;
}

.user-type {
    padding: 10px 5px;
    margin: 5px;
    width: 40%;
    border: 2px solid #f8f8f8;
}
.user-type:hover {
    color: #4b5185;
    border-bottom: 2px solid #bdeacd;
    transition: 0.5s;
    /* font-weight: bold; */
}

.reg-depending-on-user-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.reg-org {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.reg-submit-div {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.error-message {
    color: #333;
    font-style: italic;
    font-size: 0.8em;
    padding: 10px;
    margin: 10px;
}

/* ----- Also used in Login component ----- */
.reg-or-login-div {
    padding: 5px;
    border-top: 1px solid #dcff25;
    border-bottom: 1px solid #dcff25;
    font-size: 0.8em;
}
.reg-or-login-div h3 {
    color: #240073;
}

/* ---------- Media Queries ---------- */
@media all and (max-width: 600px) {
    .reg-parent-container {
        width: 100%;
        margin: 20px auto;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding: 20px 0;    
    }

    .reg-input-divs {
        font-family: "Noto Sans", sans-serif;
        font-size: 0.9em;   
        padding: 10px; 
        /* border: 1px solid #E5EFF8; */
    }

    .reg-or-login-div {
        padding: 5px;
        font-size: 0.8em;
        margin: 0 auto;
    }
}