/* 
----- Color Scheme - MIX -----
- hot pink: d41c8e
- mint green: bdeacd
- dull purple: 4b5185
- lime green: dcff25
- violet: 240073
--------- End ---------
*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.vol-feed-parent-container {
  display: flex;
  flex-direction: column;
  height: 650px;
}
.map-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.vol-feed-orgs-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0;
  overflow: scroll;
}
.single-org {
  text-align: left;
  font-size: 0.9em;
  width: 100%;
  margin: 0;
  border: 4px solid transparent;
  display: flex;
  flex-direction: row;
}
.single-org:hover {
  background-color: white;
  border-top: 4px solid #DC127E;
  border-bottom: 4px solid #DC127E;
  transition: 0.5s;
}
.org-name {
  font-weight: bold;
  font-size: 1.2em;
}

.send-ping-button {
  width: fit-content;
}


/* ---------- Media Queries ---------- */
@media all and (max-width: 450px) {
  .vol-feed-parent-container {
    display: flex;
    /* flex-direction: column-reverse; */
    /* height: 650px; */
    width: 100%;
  }


}